{% extends 'user/base.html' %}
{% load static %}
{% block title %}Payment Failed - WalkOn{% endblock %}

{% block content %}
<style>
    .payment-failure-content {
        max-width: 600px;
        background-color: #aeaef7;
        border: 1px solid #a6d1f9;  
        color: #250d0fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .payment-failure-content h2 {
        color: #381317ff;
    }
</style>
<div class="container text-center my-5">
    <div class="payment-failure-content d-inline-block p-4 rounded-3 shadow-sm text-center mx-auto w-50 bg-light p-5 text-center rounded-3">

        
    <img src="{% static 'images/payment_failed.png' %}" alt="Payment Failed" width="150">
    <h2 class="mt-4 text-danger">Payment Failed</h2>
    <p>{{ failure_reason }}</p>
    <a href="{% url 'select_payment' %}" class="btn btn-primary mx-2">Retry Payment</a>
   
    <a href="{% url 'order_details' order_number %}" class="btn btn-secondary mx-2">View Order</a>
   </div>
</div>
{% endblock %}
