{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head> 
<body>

<div class="container min-vh-100 d-flex align-items-center justify-content-center">
  <div class="login-card w-100" style="max-width: 400px;">
    
    <!-- Logo -->
    <div class="text-center mb-4">
      <img src="images/rectangle-19280-8.png" alt="Logo" class="img-fluid" style="max-height: 80px;">
    </div>

    <!-- Title -->
    <h3 class="text-center fw-bold mb-4">Change Password</h3>

    <!-- Form -->
    <form action="{% url 'reset_password' %}" method="post">
      {% csrf_token %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="New Password", name="new_password">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirm Password", name="confirm_password">
      </div>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="#" class="forgot-link">Forgot password?</a>
      </div>
      <button type="submit" class="btn btn-dark w-100 mb-3">Reset</button>
    </form>

   
    <!-- Signup link -->
    <p class="mt-4 text-center">
      Go back to  login page<a href="#" class="signup-link">Click here!</a>
    </p>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
